{% extends 'userBase.html.twig' %}

{% block body %}

	

	<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
	<h2 class="page-header"> Update ToDo Item </h2>

            {{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}